@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ****Start my css**** */

/* General settings */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;    
}

/* Header */

.nav::before,
.nav::after {
    content: ""; 
    display: table;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.nav__logo {
    margin: 20px 30px;    
}

.nav__links {
    display: inline-block;
    float: right;
    margin: 30px 30px;
    font-size: 40px;
}

.nav__links--li {
    display: inline-block;
    padding: 10px 50px; 
    margin: 10px 40px; 
    border: 3px solid blue;
}

@media (max-width: 767px) {
    .nav__links {
        display: block;
        margin: 10px auto 10px auto;
        font-size: 40px;
    }

    .nav__links--li {
        display: block;
        padding: 0 80px;
        margin: 10px auto 20px auto;
        text-align: center;
        border: 3px solid blue;
    }   
}

@media (min-width: 768px) and (max-width: 1199px) {
    .nav__links--li {
        display: inline-block;
        float: right;
        padding: 0 5px;
        border: 3px solid blue;
    }

    .nav__links {
        display: block;
        margin: 40px auto;
        font-size: 40px;
    }
}

/* Hero */

.hero {
    height: 100vh;
    background-color: aquamarine;
    background-image: url('');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero__text {
    display: inline-block;
    position: absolute;
    top: 33vh;
    left: 33vw;
    height:  auto;
    width: 300px;
    background-color: rgba(240, 150, 50, .2);
}

.hero__text--p {
    text-align: justify;
    font-size: 20px;
}

/* Gallery */

.gallery {
    margin: 10px auto;
    padding: 20px 0;
    width: 100%;
}

.gallery::before,
.gallery::after {
    content: ""; 
    display: table;
    clear: both;
}

.gallery__foto {
    float: left;
    height: 200px;
    width: 30%;
    margin-right: 5%;
    padding: 10px 20px;
}

.gallery__foto:last-of-type {
    margin-right: 0;
}

@media (max-width: 767px) {
    .gallery__foto {
        float: none;
        height: 200px;
        width: 100%;
        margin-right: 5% 5% 5% 5%;
    }

    .gallery__foto:last-of-type {
        margin-right: 5% 5%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .gallery__foto {
        float: left;
        height: 200px;
        width: 100%;
        margin-right: 0;
    }
}

.foto1 {
    background-image: url('https://images.pexels.com/photos/1936936/pexels-photo-1936936.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-position: center;
}

.foto2 {
    background-image: url('https://images.unsplash.com/photo-1551713804-f98912ce8085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-position: center;
}

.foto3 {
    background-image: url('https://images.unsplash.com/flagged/photo-1551706646-9c816bfbff8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
}


/* Map */

.map {
    height: 300px;
    width: 100%;
    background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&scale=2&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:red%7Clabel:Company%7C40.718217,-73.998284&key=AIzaSyAM25w4QrwIXC7VoKjllL31o4UjhP7lYFc');
    background-size: cover;
}

/* Footer */

.footers {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 0 0;
}


