body {
    margin: 0;
    background-color: #CCC;
    font-family: 'Rubik', sans-serif;
    }
    
.container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    background-color: #FFF;
    }
    
header {
    padding: 30px;
    background-image: 
url(https://images.pexels.com/photos/207529/pexels-photo-207529.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=700);
    }
    
header h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    }
    
header h1, header p {
    color: white;
    text-align: center;
    }
    
section {
    padding: 0 20% 0 20%;
    }
    
.about h2 {
    margin-top: 60px;
    font-size: 28px;
    color: #74b9ff;
    }
    
.interests h2 {
    margin-top: 40px;
    color: #00b894;
    }
    
.skills h2 {
    color: #d63031;
    }
    
footer {
    margin-top: 60px;
    padding: 30px;
    background-color: #2d3436;
    }
    
footer p {
    text-align: center;
    color: #dfe6e9;
    }
    
footer a {
    text-decoration: none;
    font-weight: bold;
    color: #fdcb6e;
    }
    
h1, h2 {
    font-family: 'Lobster', cursive;
    }
