@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Start my css */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

header {
    background-color: #313332;
    height: 50px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header>nav ul {
    padding: 0;
    list-style-type: none;
    float: right;
}

header>nav ul>li {
    display: inline-block;
}

header>nav ul>li>a {
    line-height: 50px;
    padding: 0 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header>nav ul>li>a:hover {
    background-color: #515452;
}

header>nav img {
    padding: 10px 0;
}

.hero {
    width: 100%;
    height: calc(100vh + 50px);
    background-image: url('https://images.pexels.com/photos/7974/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
}

.slogan {
    background-color: rgba(0,0,0,0.6);
    color: #FFF;
    font-size: 40px;
    height: auto;
    float: right;
    width: auto;
    max-width: 800px;
    text-align: center;
    margin: calc(50vh - 80px) 0;
    padding: 80px 60px;
   /* border: 2px solid #FFF; */
}




