@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Start my css */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row::before,
.row::after {
    content: ""; 
    display: table;
}
.row:after {
    clear: both;
}

header {
    background-color: #313332;
    height: 50px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* section>.container {
    margin: 50px auto;
} */

.benefits {
    margin: 50px auto;
    text-align: center;
}

header>nav ul {
    padding: 0;
    list-style-type: none;
    float: right;
}

header>nav ul>li {
    display: inline-block;
}

header>nav ul>li>a {
    line-height: 50px;
    padding: 0 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header>nav ul>li>a:hover {
    background-color: #515452;
}

header>nav img {
    padding: 10px 0;
}

.hero {
    width: 100%;
    height: calc(100vh + 50px);
    background-image: url('https://images.pexels.com/photos/7974/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
}

.slogan {
    background-color: rgba(0,0,0,0.6);
    color: #FFF;
    font-size: 40px;
    height: auto;
    float: right;
    width: auto;
    max-width: 800px;
    text-align: center;
    margin: calc(50vh - 80px) 0;
    padding: 80px 60px;
   /* border: 2px solid #FFF; */
}

[class*="col-"]{
    float: left;
    min-height: 1px;
    height: 150px;
    padding: 12px;  
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

.search, 
.laptop,
.cogs {
    width: 75px;
    height: 75px;
    font-size: 40px;
    text-align: center;
    color: #FFF;
    padding: 15px 10px 10px 10px;
    margin: 40px 40px;
    border: 0;
    border-radius: 10%;
    cursor: pointer;
}

.search {
    background-color: #000;
}

.laptop {
    background-color: #00C7E8;
}

.cogs {
    background-color: #000;
}

.benefits .row {
    margin: 30px 25%;
}

p {
    color: #000;
    font-size: 10px;
    width: 100px;
    margin-left: -20px;
    text-align: center;
}

h4 {
    color: blue;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.search h4 {
    margin: 40px 0 0 -15px;
}

.laptop h4 {
    margin: 40px 0 0 -30px;
}

.cogs h4 {
    margin: 40px 0 0 -5px;
}

