@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Start my css */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row::before,
.row::after {
    content: ""; 
    display: table;
}      
.row::after {
    clear: both;
}

/* Header */

header {
    background-color: #313332;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: center;
}

section .container {
    margin: 50px auto;
}

header > nav ul {
    padding: 0;
    list-style-type: none;
    float: right;
}

header > nav ul > li {
    float: right;
}

header > nav ul > li > a {
    line-height: 50px;
    padding: 0 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header > nav ul > li > a:hover {
    background-color: #515452;
}

header > nav img {
    float: left;
    padding: 10px 0;
    margin: 0 100px;
}

/* Jumbotron */

.hero {
    width: 100%;
    height: calc(100vh + 50px);
    background-image: url('https://images.pexels.com/photos/7974/pexels-photo.jpg');
    background-size: cover;
    background-position: center;
}

.slogan {
    background-color: rgba(0, 0, 0, .6);
    color: #FFF;
    font-size: 2em;
    float: right;
    width: auto;
    max-width: 800px;
    text-align: center;
    margin: calc(50vh - 80px) 0;
    padding: 80px 60px;
}

/* Buttons - Benefits */

.benefits {
    margin: 50px auto;
    text-align: center;
}

@media (min-width: 768px) {
    /* For desktop: */

    [class*="col-"] {
        float: left;
        min-height: 1px;
        padding: 10;  
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media (max-width: 767px){
    /* For tablets: */

    [class*="col-"] {
        min-height: 1px;
        padding: 0;  
    }

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

.benefits__search {
    margin: 40px auto;
}

.benefits__laptop {
    margin: 40px auto;
}

.benefits__cogs {
    margin: 40px auto;
}

[class*="benefits__button"] {
    display: inline-block;
    width: 75px;
    height: 75px;
    font-size: 40px;
    text-align: center;
    color: #FFF;
    border-radius: 25%;
    background-color: #000;
}

@media (min-width: 768px){
    [class*="benefits__button"]:hover {
        cursor: pointer;
        transform: scale(1.2);
        background-color: #00C7E8;
    }
}

.benefits__button--search {
    padding: 20px;
}

.benefits__button--laptop {
    padding: 15px 0;
}

.benefits__button--cogs {
    padding: 15px 0;
}

.benefits__container {
    display: inline-block;
    margin: 30px auto;
    padding: 10px;
    width: 100%;
}

.benefits__text {
    display: block;
    color: #bcbcbd;
    font-size: 12px;
    width: 190px;
    margin: 5px auto;
    text-align: center;
}

.benefits__title {
    display: block;
    width: 160px;
    color: blue;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

/* Featured Works */

section > .featured-works {
    padding: 40px;
    width: 100%;
    max-width: 1200px;
}

h2 {
    padding: 20px 0 20px 0;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
}

.featured-works > p {
    color: #bcbcbd;
    font-size: 1em;
    display: inline-block;
    text-align: inherit;
    width: 100%;
}

/* Gallery */

.gallery {
    position: relative;
    background-color: gray;
}

[class*="gallery__foto--"] {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 150px;
}

.gallery__foto--1 {background-image: url('https://images.pexels.com/photos/374857/pexels-photo-374857.jpeg');}
.gallery__foto--2 {background-image: url('https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg');}
.gallery__foto--3 {background-image: url('https://images.pexels.com/photos/129830/pexels-photo-129830.jpeg');}
.gallery__foto--4 {background-image: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg');}
.gallery__foto--5 {background-image: url('https://images.pexels.com/photos/220444/pexels-photo-220444.jpeg');}
.gallery__foto--6 {background-image: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg');}
.gallery__foto--7 {background-image: url('https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg');}
.gallery__foto--8 {background-image: url('https://images.pexels.com/photos/220444/pexels-photo-220444.jpeg');}
.gallery__foto--9 {background-image: url('https://images.pexels.com/photos/374857/pexels-photo-374857.jpeg');}
.gallery__foto--10 {background-image: url('https://images.pexels.com/photos/129830/pexels-photo-129830.jpeg');}

[class*="gallery__foto--"] > .gallery__layer {
    position: absolute;
    background-color: rgba(256, 256, 256, .0);
    color: rgba(256, 256, 256, .0);
    padding: 60px 20px;
    left: 0px;
    top: 0px;
    font-size: 15px;
    display: none;
}

[class*="gallery__foto--"]:hover > .gallery__layer { 
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, 1.0);
    cursor: pointer;
    width: 100%;
    height: 150px;
    display: block;
}

.gallery__layer > i {
    margin: 0 15px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border-radius: 20%;
    background-color: white;
}

/* Team */

.team {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
}

.team__circle {
    margin: 10px auto;
}

.circle {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin:  20px auto;
    display: inline-block;
    color: rgba(256, 256, 256, 0);
    transition: background-color 2s, color 2s;
}

[class*="col-"] .circle:hover {
    background-color: rgba(0, 0, 0, .7);
    color: rgba(256, 256, 256, 1.0);
}

.circle>p {
    color: inherit;
    font-size: 20px;
    margin: 65px auto;
    text-align: center;
}

/* Picture */

.picture {
    max-width: 1500px;
    min-height: 450px;
    padding: 30px auto 0 auto;
    background-color: lightgray;
}

.picture__container {
    width: 100%;
    max-width: 1200px;
    min-height: 360px;
    margin: 20px auto 0;
    position: relative;
    top: 70px;
    background-color: white;
}

.picture__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    top: 40px;
    left: 0;
}

.picture__picture {
    background-image: url('https://images.pexels.com/photos/289689/pexels-photo-289689.jpeg');
    background-size: cover;
    background-position: center;
    height: 330px;
    padding: 0 20px 0 0;
    position: relative;
    bottom: 0;
}

.picture__text {
    padding: 30px 20px; 
    text-align: center;
    line-height: 1.4;
    position: relative;
    top: 50px;
    background-color: white;
}

/* Numbers */

.numbers {
    width: 100%;
    max-width: 1200px;
    min-height: 150px;
}

.numbers__container {
    margin: 40px auto 40px auto;  
    text-align: center;
    font-weight: 800;
}

.numbers__number {                      
    color: #000000;
    font-family: 'Crete Round', serif;
    font-size: 45px;
}

.numbers__text {
    color: #01BBEA;
    text-transform: uppercase;
}

/* Big footer */

.bfooter {
    width: 100vw;
    background-color: #313332;
}

.bfooter__container {
    width: 100%;
    max-width: 1200px;
    min-height: 250px;
    margin: 20px auto;
    font-family: 'Crete Round', serif;
    color: #FFF;
}

.bfooter__col {
    display: inline-block;
    width: 100%;
    min-width: 33%;
    padding: 10px;
    margin: 10px 10px;
}

.bfooter__title {
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
    left: 30px;
    position: relative;
    z-index: 0;
}

.bfooter__title::after {
    position: absolute;
    top: 5px;
    left: 120px;
    content: "  -----------------------";
    color: rgba(256, 256, 256, 0);
    border-top: 3px solid white;
}

.bfooter__titlesmall {
    display: inline-block;
    font-weight: 700;
    margin: 10px auto 0 auto;;
}

.bfooter__text {
    color: white;
    text-align: justify;
    position: relative;
    margin: 20px auto;
    font-size: 1em;
    line-height: 1.4;
}

.bfooter__textsmall {
    font-size: 1em;
    display: inline-block;
    margin: 10px auto 0 auto;
    width: 100%;
    min-width: 300px;
}

@media (max-width: 767px){
    /* For tablets: */
    .bfooter__col {
        padding: 10px 10%; 
        margin: 5px auto;
    }
    .bfooter__textsmall {
        font-size: 1em;
        display: block;
        position: relative;
        margin: 0 auto;
        float: left;    
    }
    .bfooter__titlesmall {
        display: block;
        font-weight: 700;
        margin: 10px auto;
        float: left;
    }
}

/* Social */

@media (min-width: 768px) {
    /* For desktop: */
    .bfooter__social {
        position: relative;
        top: 40px;
        left: -40px;
        text-align: center;
        width: 400px;
        margin: 0 auto;
        padding: 5px;
    }
    .icon {
        display: inline-block;
        font-size: 20px;
        color: #FFF;
        margin: 5px;
        padding: 10px 10px;
        height: 40px;
        width: 40px;
        background-color: #00C8EA;
        background-size: cover;
        border: 0
    }
    .icon:hover {
        transform: scale(1.2);
        cursor: pointer;
        background-color: #08bfc9;
    }
}

@media (max-width: 767px){
    /* For tablets: */
    .bfooter__social {
        margin: 0 auto;
        padding: 0 0;
    }
    .icon {
        margin: 35px;
        display: inline-block;
        font-size: 20px;
        color: #FFF;
        padding: 10px 10px;
        height: 40px;
        width: 40px;
        background-color: #00C8EA;
        background-size: cover;
        border: 0
    }
}

/* footer */

footer {
    display: inline-block;
    text-align: center;
    background-color: black;
    color: #FFF;
    padding: 50px auto;
    margin: auto;
    max-width: 1500px;
    width: 100%;
    min-height: 40px;
}

footer p {
    position: relative;
    top: 10px;
}